<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IPFS Demo</title>
</head>
<body>
  <h1>Put Your File</h1>
  <form method="post" action="/upload" enctype="multipart/form-data">
    <label>File Name</label>
    <input type="text" name="fileName" placeholder="Type Filename">
    <br/>
    <label>Upload Files</label>
    <input type="file" name="file">
    <br/>
    <input type="submit" value="submit">
  </form>
</body>
</html>