<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IPFS Demo - Upload</title>
</head>
<body>
  <h1>Files Uploaded</h1>
  <p>
    Filename : <%= fileName %>
    <br>
    Link : <a href="https://ipfs.io/ipfs/<%= fileHash %>">Click Here</a>
    <br>
    Hash : <%= fileHash %>
  </p>
</body>
</html>