<html lang="en">

<style>
    * {
        font-family: 'Poppins', sans-serif;
    }
    .video-card {
        box-shadow: 2px 2px 10px gray;
    }

</style>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
  
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  
    <!-- Poppins from google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet" />
  
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/95105048e2.js" crossorigin="anonymous"></script>
  
    <title>Saved Playlist</title>
</head>
<body>
    <nav class="navbar w-100 bg-dark text-white">
        <div class="navbar-brand">
            <h4>YouTube Studio</h4>
        </div>
        <form action="/search-channel" method="get" class="col-md-4 d-flex">
            <input type="text" class="form-control" name="username" placeholder="Search YouTube Channel">
            <button type="submit" class="btn">Search</button>
        </form>
        <div class="px-3">
            <a href="http://localhost:5000/logout" title="Logout" class="btn-outline-light mx-2">
              <i class="fas fa-sign-out-alt"></i>
            </a>
            <a href="http://localhost:5000/my-channel" title="Your Channel" class="btn-outline-light mx-2">
                <i class="fas fa-user"></i>
            </a>
            <a href="http://localhost:5000/" title="Home" class="btn-outline-light mx-2">
                <i class="fas fa-home"></i>
            </a>
        </div>
    </nav>

    <main class="container">
        <section>
            <div class="card-header bg-dark text-white">
              <% if(playlist.length){ %>
                <h2>Saved Videos</h2>
              <% } else { %>
                <h2>You don't have a saved playlist</h2>
              <% } %>
            </div>
            <div class="row card-body" id="uploads">
              <% playlist.forEach(video => { %>
                <a href="http://localhost:5000/watch?v=<%= video.contentDetails.videoId%>" class="col-12 col-md-6 col-lg-3">
                    <div class="video-card">
                      <img src="<%= video.snippet.thumbnails.hasOwnProperty('high') ? video.snippet.thumbnails.high.url : 'https://i.ytimg.com/vi/djwxWh2eQv0/hqdefault.jpg'%>" alt="video-thumbnail" width="100%">
                    </div>
                    <div class="card-body px-0 text-center">
                      <h6>
                        <%= video.snippet.title%>
                      </h6>
                      <p class="text-secondary" style="font-size: 10px;">
                        <%= new Date(video.snippet.publishedAt).toLocaleString()%>
                      </p>
                    </div>
                </a>
              <% }) %> 
            </div>
        </section>
    </main>
</body>
</html>